Repository radius-project/radius, changes with the owners that .github/CODEOWNERS names for each.
All owners: @radius-project/maintainers-radius, @radius-project/approvers-radius, @radius-project/on-call

.github/CODEOWNERS:

# General maintainers and approvers for the entire repository
* @radius-project/maintainers-radius @radius-project/approvers-radius

# Ownership for dependency-related files. Allow the on-call team to approve dependency version updates (e.g., from Dependabot PRs)
# Files in the root directory
/go.mod @radius-project/on-call
/go.sum @radius-project/on-call
# Files in the `test/magpiego` directory
test/magpiego/go.mod @radius-project/on-call
test/magpiego/go.sum @radius-project/on-call
# Files in the `typespec` directory
typespec/package*.json @radius-project/on-call
# GitHub workflow files
.github/*.yml  @radius-project/on-call
.github/*.yaml @radius-project/on-call
# Devcontainer files
.devcontainer/devcontainer.json @radius-project/on-call
# Radius bicep types generator files
hack/bicep-types-radius/src/generator/package*.json @radius-project/on-call

consolidate dependabot updates
  typespec/package-lock.json
  typespec/package.json
Owners: @radius-project/on-call

remove typespec-providerhub
  typespec/Applications.Core/applications.tsp
  typespec/Applications.Core/containers.tsp
  typespec/Applications.Core/environments.tsp
  typespec/Applications.Core/extenders.tsp
  typespec/Applications.Core/gateways.tsp
  typespec/Applications.Core/secretStores.tsp
  typespec/Applications.Core/volumes.tsp
  typespec/Applications.Dapr/configurationStores.tsp
  typespec/Applications.Dapr/pubSubBrokers.tsp
  typespec/Applications.Dapr/secretStores.tsp
  typespec/Applications.Dapr/stateStores.tsp
  typespec/Applications.Datastores/mongoDatabases.tsp
  typespec/Applications.Datastores/redisCaches.tsp
  typespec/Applications.Datastores/sqlDatabases.tsp
  typespec/Applications.Messaging/rabbitMQQueues.tsp
  typespec/Test.Resource/testasyncresources.tsp
  typespec/Test.Resource/testsyncresources.tsp
  typespec/UCP/aws-credentials.tsp
  typespec/UCP/aws-plane.tsp
  typespec/UCP/azure-credentials.tsp
  typespec/UCP/azure-plane.tsp
  typespec/UCP/common.tsp
  typespec/UCP/planes.tsp
  typespec/UCP/radius-plane.tsp
  typespec/UCP/resourcegroups.tsp
  typespec/UCP/resourceproviders.tsp
  typespec/radius/v1/ucprootscope.tsp
Owners: @radius-project/maintainers-radius, @radius-project/approvers-radius

[WIP] Feature: Radius In-Place Upgrade
  cmd/rad/cmd/root.go
  pkg/cli/cmd/README.md
  pkg/cli/cmd/bicep/generatekubernetesmanifest/generatekubernetesmanifest.go
  pkg/cli/cmd/bicep/publish/publish.go
  pkg/cli/cmd/upgrade/kubernetes/kubernetes.go
  pkg/cli/cmd/upgrade/upgrade.go
  pkg/cli/helm/cluster.go
  pkg/cli/helm/contourclient.go
  pkg/cli/helm/helmclient.go
  pkg/cli/helm/mock_cluster.go
  pkg/components/database/apiserverstore/apiserversnapshot.go
  pkg/components/database/apiserverstore/apiserversnapshot_test.go
  pkg/components/database/postgres/mock_postgresapi.go
  pkg/components/database/postgres/postgresclient.go
  pkg/components/database/postgres/postgresclient_test.go
  pkg/components/database/postgres/postgressnapshot.go
  pkg/components/database/postgres/postgressnapshot_test.go
  pkg/components/database/snapshot.go
Owners: @radius-project/maintainers-radius, @radius-project/approvers-radius

[Snyk] Security upgrade alpine from 3.21.0 to 3.21.3 (#8524)
  deploy/images/applications-rp/Dockerfile
Owners: @radius-project/maintainers-radius, @radius-project/approvers-radius

Consolidated Dependabot npm updates for Typespec (#8897)
  typespec/Applications.Core/applications.tsp
  typespec/Applications.Core/containers.tsp
  typespec/Applications.Core/environments.tsp
  typespec/Applications.Core/extenders.tsp
  typespec/Applications.Core/gateways.tsp
  typespec/Applications.Core/secretStores.tsp
  typespec/Applications.Core/volumes.tsp
  typespec/Applications.Dapr/configurationStores.tsp
  typespec/Applications.Dapr/pubSubBrokers.tsp
  typespec/Applications.Dapr/secretStores.tsp
  typespec/Applications.Dapr/stateStores.tsp
  typespec/Applications.Datastores/mongoDatabases.tsp
  typespec/Applications.Datastores/redisCaches.tsp
  typespec/Applications.Datastores/sqlDatabases.tsp
  typespec/Applications.Messaging/rabbitMQQueues.tsp
  typespec/Test.Resource/testasyncresources.tsp
  typespec/Test.Resource/testsyncresources.tsp
  typespec/UCP/aws-credentials.tsp
  typespec/UCP/aws-plane.tsp
  typespec/UCP/azure-credentials.tsp
  typespec/UCP/azure-plane.tsp
  typespec/UCP/common.tsp
  typespec/UCP/planes.tsp
  typespec/UCP/radius-plane.tsp
  typespec/UCP/resourcegroups.tsp
  typespec/UCP/resourceproviders.tsp
  typespec/package-lock.json
  typespec/package.json
  typespec/radius/v1/ucprootscope.tsp
Owners: @radius-project/maintainers-radius, @radius-project/approvers-radius, @radius-project/on-call

compatible go version
  test/magpiego/go.mod
Owners: @radius-project/on-call
